body {
    margin: 0px;
    padding: 0px;
    background-color: #5b5c5d;
}
.calc-container {
    background-color: #000;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 1px 35px 91px -23px #050505;
    padding-left: 20px;
    left: -200px;
    margin-left: 50%;
    position: absolute;
    margin-top: 100px;
}
.calc {
    width: 380px;
    height: 380px;
}
#display {
    background-color: #687954;
    padding: 0px 10px;
    width: 356px;
    height: 50px;
    font-size: 40px;
    border-radius: 8px;
    margin: 10px 0px 25px 0px;
    color: black;
    font-family: 'DS-Digital';
    text-align: right;
}

.btn {
    width: 68px;
    height: 42px;
    background-color: #f4f4f4;
    border: 2px solid #e3e3e3;
    border-radius: 6px;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0px;
    color: #5b5c5d;
    cursor: pointer;
    margin: 3px;
}
.btn:hover {
    background-color: #2ed6cc;
    color: #000;

}
.btn-numbers {
    background-color: #8a8a8a;
    color: white;
}
.btn-op {
    background-color: #191919;
    color: white;
}
.btn-op:hover {
    background-color: orange;
    color: black;
}
.plus {
    height: 95px;
}
span {
    color: #5b5c5d;
    font-size: 20px;
    margin-top: 10px;
    display: block;
    margin-left: 5px;
}
.btn-ce-c {
    background-color: #b32020; 
}


